$transparent: transparent

/* -------------------------------------------------------------------------- */
/*                               Primary Colour                               */
/* -------------------------------------------------------------------------- */
$extra-deep-b1: #0F1637
$extra-deep-b2: #072949
$extra-deep-b3: #093E68
$deep-b: #05518D
$system-blue: #0F66AB
$light-b1: #3F87CA
$light-b2: #69A0D2
$mid-light-b1: #A4C9EC
$mid-light-b2: #BFDBF5
$extra-light-b1: #D4E7F9
$extra-light-b2: #EBF4FC

/* -------------------------------------------------------------------------- */
/*                              Secondary Colour                              */
/* -------------------------------------------------------------------------- */
$extra-deep-sb: #005C97
$deep-sb: #008CDB
$sky-blue: #00A3FF
$light-sb: #6CC6FF
$extra-light-sb1: #DDF2FF
$extra-light-sb2: #F2F9FE

/* -------------------------------------------------------------------------- */
/*                                 Base Colour                                */
/* -------------------------------------------------------------------------- */
$black: #000000
$extra-deep-g1: #505565
$extra-deep-g2: #858C9D
$deep-gray: #9BA1B2
$system-gray: #B6BBC7
$light-gray: #D3D8E0
$light-g1: #DCE1E9
$extra-light-g1: #EDEFF3
$extra-light-g2: #F0F2F6
$off-white: #F2F4F8
$white: #ffffff
$cream: #F9ECE0
$cream-white: #FBF7F4

/* -------------------------------------------------------------------------- */
/*                                Accent Colour                               */
/* -------------------------------------------------------------------------- */
$mariner: #1A65D6
$mid-mariner: #C0D9FF
$light-mariner: #EEF4FF
$mandarin: #FF7A42
$mid-mandarin: #FFA776
$light-mandarin: #FFF1E8
$canary: #FEB822
$mid-canary: #FFD987
$light-canary: #FFF7E5
$burgundy: #9E2F57
$mid-burgundy: #E7A8BF
$light-burgundy: #FEEEEF
$casper: #749EB6
$mid-casper: #A0C0D1
$light-casper: #DDEFF9
$rose: #FF4ED8
$mid-rose: #FFC8F2
$light-rose: #FFE9FA
$turquoise: #00C0A9
$mid-turquoise: #9EEFE5
$light-turquoise: #E4FAF6
$lime: #6BAD00
$mid-lime: #C2E984
$light-lime: #EBFAD3
$rajah: #E4631A
$mid-rajah: #F19059
$light-rajah: #FFEEDF
$olive: #919426
$mid-olive: #D0D26B
$light-olive: #EFF2DA
$orchid: #7E3EE4
$mid-orchid: #C0A2F1
$light-orchid: #E9DFFB
$grass: #5ACA14
$mid-grass: #9DE86F
$light-grass: #F2FEEE
$scarlet: #F54034
$mid-scarlet: #FF756C
$light-scarlet: #FFF1EF

$palette-map: ('transparent': $transparent, 'cream-white': $cream-white, 'cream': $cream, 'extra-deep-b1': $extra-deep-b1, 'extra-deep-b2': $extra-deep-b2, 'extra-deep-b3': $extra-deep-b3, 'deep-b': $deep-b, 'system-blue': $system-blue, 'light-b1': $light-b1, 'light-b2': $light-b2, 'mid-light-b1': $mid-light-b1, 'mid-light-b2': $mid-light-b2, 'extra-light-b1': $extra-light-b1, 'extra-light-b2': $extra-light-b2, 'extra-deep-sb': $extra-deep-sb, 'deep-sb': $deep-sb, 'sky-blue': $sky-blue, 'light-sb': $light-sb, 'extra-light-sb1': $extra-light-sb1, 'extra-light-sb2': $extra-light-sb2, 'black': $black, 'extra-deep-g1': $extra-deep-g1, 'extra-deep-g2': $extra-deep-g2, 'deep-gray': $deep-gray, 'system-gray': $system-gray, 'light-g1': $light-g1, 'light-gray': $light-gray, 'extra-light-g1': $extra-light-g1, 'extra-light-g2': $extra-light-g2, 'off-white': $off-white, 'white': $white, 'mariner': $mariner, 'mid-mariner': $mid-mariner, 'light-mariner': $light-mariner, 'mandarin': $mandarin, 'mid-mandarin': $mid-mandarin, 'light-mandarin': $light-mandarin, 'canary': $canary, 'mid-canary': $mid-canary, 'light-canary': $light-canary, 'burgundy': $burgundy, 'mid-burgundy': $mid-burgundy, 'light-burgundy': $light-burgundy, 'casper': $casper, 'mid-casper': $mid-casper, 'light-casper': $light-casper, 'rose': $rose, 'mid-rose': $mid-rose, 'light-rose': $light-rose, 'turquoise': $turquoise, 'mid-turquoise': $mid-turquoise, 'light-turquoise': $light-turquoise, 'lime': $lime, 'mid-lime': $mid-lime, 'light-lime': $light-lime, 'rajah': $rajah, 'mid-rajah': $mid-rajah, 'light-rajah': $light-rajah, 'olive': $olive, 'mid-olive': $mid-olive, 'light-olive': $light-olive, 'orchid': $orchid, 'mid-orchid': $mid-orchid, 'light-orchid': $light-orchid, 'grass': $grass, 'mid-grass': $mid-grass, 'light-grass': $light-grass, 'scarlet': $scarlet, 'mid-scarlet': $mid-scarlet, 'light-scarlet': $light-scarlet)

$spacing-size-map: ('auto': auto, 'none': 0, 'xs': 4px, 'sm': 8px, 'md': 16px, 'lg': 24px, 'xl': 32px, '40': 40px, '48': 48px, '56': 56px, '64': 64px, '72': 72px)
/* -------------------------------------------------------------------------- */

/* ---- quasar breakpoints --> ref: https://quasar.dev/style/breakpoints ---- */
$bp_small_mobile_upper: 360px
$bp_mobile_upper: 599px
$bp_tabletp_upper: 1023px
$bp_tabletl_upper: 1439px
$bp_wide_lower: 1919px

$breakpoints: 'xs' 'sm' 'md' 'lg' 'xl'

$font-weight-list: normal 100 200 300 400 500 600 700 800 900
$font-size-list: 10px 13px 15px 17px 19px 23px 33px 46px 58px 93px
$radius-size-map: ('circle': 50%, '4': 4px, '8': 8px, '12': 12px, '16': 16px, '20': 20px, '24': 24px, '32': 32px)
